* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: arial, sans-serif;
}
/* list reversed with transform */
nav {
  margin-top: 10px;
  padding: 6px;
  font-size: 13px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
nav a {
  color: rgba(0, 0, 0, 0.87);
  margin-right: 15px;
  text-decoration: none;
}

.avatar {
  border-radius: 50%;
}

nav a:hover {
  text-decoration: underline;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
}
.container img {
  margin-bottom: 20px;
}
.search-area {
  background: #fff;
  display: flex;
  border-radius: 34px;
  border: 1px solid #dfe1e5;
  box-shadow: none;
  height: 44px;
  margin: 0 auto;
  width: 582px;
}

.search-area:hover {
  background-color: #fff;
  box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
  border-color: rgba(223, 225, 229, 0);
}

.search {
  display: flex;
  padding: 5px 8px 0 16px;
  padding-left: 14px;
  width: 100%;
}

.search-img {
  display: flex;
  align-items: center;
  padding-right: 13px;
  margin-top: -5px;
}

.search-img span {
  color: #9aa0a6;
  height: 20px;
  width: 20px;
  margin-top: 0px;
  display: inline-block;
  fill: currentColor;
  line-height: 24px;
  position: relative;
}

.input-enter {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  /* border-radius: 50%; */
}

.input-area {
  color: transparent;
  flex: 100%;
  white-space: pre;
  font: 16px arial, sans-serif;
  line-height: 34px;
  height: 34px !important;
  display: block;
}

.input {
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.87);
  word-wrap: break-word;
  outline: none;
  display: flex;
  width: 480px;
  border: none;
  margin-top: -68px;
  font: 16px arial, sans-serif;
  line-height: 34px;
  height: 34px !important;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  text-align: start;
  appearance: textfield;
  cursor: text;
}
.voice {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 15px;
  padding: 0 8px;
}
.voice img {
  width: 30px;
  height: 30px;
}
.buttons {
  margin-top: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.googlesearch {
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  border-radius: 4px;
  color: #3c4043;
  font-family: arial, sans-serif;
  font-size: 14px;
  margin: 11px 4px;
  padding: 0 16px;
  line-height: 27px;
  min-width: 54px;
  text-align: center;
  cursor: pointer;
  user-select: none;
}
.googlesearch:hover {
  box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
  background-color: #f8f9fa;
  border: 1px solid #dadce0;
  color: #202124;
}

.feelinglucky {
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  border-radius: 4px;
  color: #3c4043;
  font-family: arial, sans-serif;
  font-size: 14px;
  padding: 0 16px;
  line-height: 27px;
  min-width: 54px;
  text-align: center;
  cursor: pointer;
  user-select: none;
}

.feelinglucky:hover {
  box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
  background-color: #f8f9fa;
  border: 1px solid #dadce0;
  color: #202124;
}
.footer {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #f2f2f2;
  border: 1px solid #dfe1e5;
  border-top: 1px solid #dadce0;
  position: fixed;
  bottom: 0;
  width: 100%;

  line-height: 10px;
  height: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer a {
  text-decoration: none;
  color: #70757a;
  padding: 15px;
  font-size: 14px;
}

.footer a:hover {
  text-decoration: underline;
}
